.container {
    background-color: rgb(42, 88, 84);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.one {
    width:200px;
    height: 75px;
    background-color: lightgray;
}

.two {
    width:200px;
    height: 75px;
    background-color: lightblue;
}

.three{
    width:200px;
    height: 75px;
    background-color: lightcoral;
}

.four {
    width:200px;
    height: 75px;
    background-color: lightgreen;
}

.same {
    text-align: center;
    line-height: 75px;
    font-size: 20px;
    margin: 10px;
}