#myButton{
    background-color: lightcyan;
    border: 1.5px solid gold;
    border-radius: 2px;
    font-size: large;
}
.imgCollection{
    height: 400px;
    display: block;
    margin-top: 10px ;
}